body{
    background: url(../images/slider/2.jpeg)center/cover no-repeat fixed;;
   
    color: white;
}

.logdiv{

 max-height: 100vh;
}

.logform {
    margin-top: 50%;
    background: rgba(80, 13, 98, 0.5);
    border-radius: 5px;
}

.logform input{
    background: transparent;
}
.log-img{
    display: block;
    display: block;
  margin-left: auto;
  margin-right: auto;
 transform: translateY(-50%);
  
}