
html {
    scroll-behavior: smooth;
}
.readmore{
    overflow-y: hidden;
}
body {
   background-color: #f6dffa; 
    /**/
    font-size: 1em;
    
}
.fa-whatsapp-square{
    color: #25D366;
}
.fa-facebook-square{
    color: #3b5998;
}
header{
    background:url(../images/headerBG.png)center/cover no-repeat;
}
.vertical-center {
    
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.slide-img{
    height: 82vh;
    object-fit: cover;
    object-position: center center;
} 
#main-col{
   
	
    min-height: 80vh;}
.pBG{
    background-color: #500d62!important;
}
.tGB{
 color: #f6dffa;
}
.transparentGB{  background: transparent!important;}

.about{
    border-top-left-radius: 20px!important; border-top-right-radius: 20px!important;
    -webkit-box-shadow: -2px 18px 30px -16px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 18px 30px -16px rgba(0,0,0,0.75);
box-shadow: -2px 18px 30px -16px rgba(0,0,0,0.75);
}


#upcoming{
    overflow-x: scroll!important;

}
.blog-grid-left {
    float: left;
    width: 36%;
}
.blog-grid-left1,.blog-grid-right1{
	padding:0;
}
.blog-grid-right h5 a {
    color: #4A4747;
}
.blog-grid-right h5 a:hover{
    color: #fa4b2a;
}
.blog-grid-right1 h4{
	text-transform: capitalize;
    font-size: 1em;
    color: #fa4b2a;
    margin: 0.5em 0;
    line-height: 1.8em;
}
.blog-grid-right1 p{
	font-size:14px;
	color:#999;
	margin:0;
	line-height:1.8em;
}

.blog-grids {
    border-bottom: 1px dotted #aeaeae;
    padding: 1.3em 0;
}
.search-1 input[type="search"] {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    background:none;
    width:82%;
  }
  .search-1 form input[type="submit"] {
      background: url(../images/key2.png) no-repeat 13px 9px;
      width: 40px;
      height: 32px;
      border: none;
      margin: 0 0 0 0px;
      padding: 0;
      border-left: 1px solid #000;
      border-right: none;
      border-bottom: none;
      border-top: none;
      outline: none;
  }

  #quote{
    position: relative;
    min-height: 55vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/g6.jpg) center/cover no-repeat fixed;
}

.immageBox { 
	position: relative; 
	overflow: hidden;
	
}
.textBox {
	position:absolute;
	top: 0;
	top: -82%;
	width: 100%;
	height: 100%;
	background: #500d62;
    transition: .5s;
    
	
}
.textBox h1{
	
	padding: 5px;
	font-size: 1em;
	font-family: "Arial Black", "sans-serif";
	align-content: center;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;

}
.immageBox:hover .textBox{
	top: 0;
}
.immageBox:hover img{
	transform: scale(1.2);
	
}
/* POROULAR POSTS SECTION */
.tc-ch {
    background: #fff;
    padding: 2em 2em;
    /* margin-bottom: 1em; */
}

.bht1 a{
    background: #009500;
    padding: 0.3em 1.8em;
	display:inline-block;
    color: #fff;
}
.bht1 a:hover{
    background: #000;
}
.bht1 {
    float: left;
    padding-top: 1em;
}
.soci {
    float: right;
    padding-top: 1em;
}
.soci li {
    display: inline-block;
}
.soci ul li{
	list-style-type:none;
	display:inline-block;
	margin:0 2px;
	overflow:hidden;
	height:32px;
}
.soci  ul li a{	
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #d2d1d1;
}
/*================ LEADERS' SECTION ============*/

.single-leader{
    background: #73fb59;
    border-radius: 100px 0 100px 0;
}
.leader-img{
width: 100px;
height: 100px;
display: block;
overflow: hidden;
border-radius: 50%;
margin: 0 auto; 
}
.leader-img img{
    
    object-fit: scale-down;
    object-position: 50% 50%;
    object-position: center center;
}
.leader-text{
padding: 0 10px;
}
.dash {color:#000000;}
.leader-text hr{ border-top: 1px dashed #000000;
    width: 85%;
    margin: 0 auto;
}
.owl-dots{
    text-align: center;
}
.owl-dot{
    display: inline-block;
    height: 10px !important;
    width: 10px !important;
    background-color:green !important;
    opacity: 0.8;
    border-radius: 50%;
    margin: 5px 5px;
}
.leader-text h5{margin: 20px 0 -15;
color: #000000;  
}
.owl-dot.active{ background-color:black !important; }
.owl-nav{display: none;}

/* ===================== FOOTER ======================================================================================*/

 #subscribe-row button{
    border-top-right-radius: 16px; border-bottom-right-radius: 16px;
    border-top-left-radius: 0; border-bottom-left-radius: 0;
	border-width: 0;
    background-color:#33C722;
    color: #000;
    font-weight: bold;
	
} 
#subscribe-row input{
    border: none; outline: none;
    border-top-left-radius: 16px; border-bottom-left-radius: 16px;
    border-bottom-right-radius: 0;border-top-right-radius: 0;    
}

#subscribe-row img{ width: 55px}
#subscribe-row img:hover{
    filter: grayscale(100%);
}
#footer hr{ border-top: 1px solid #f6dffa;  }
#footer .list-group-item, .card,.form-control,textarea{
    background-color: #f6dffa;
}
#last-row {background-color: #260037;
}
#last-row  #last-row-para { color: #33C722;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    /* display: none; */
    background: #2eca6a;
    color: #fff;
    /* width: 44px;
    height: 44px; */
    text-align: center;
    line-height: 1;
    font-size: 35px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }

/* //////////////////////////===============BLOG===============////////////////////////////////////////////////////////////////// */
.logo {
    padding: 1.2em 0;
    text-align: center;
}
.logo h1 {
    font-size: 3.4em;
    
    
}
.logo p {
    font-size: 14px;
    margin-top: 0.5em;
    line-height: 1.8em;
    color: #fa4b2a;
    font-weight: 400;
	position:relative;
}

.header-bottom{
    position: relative;
    min-height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0,0,0,0),rgba(246,223,250, 0.1),rgba(246,223,250, 0.5),  rgba(246,223,250, 0.8),rgb(246,223,250)),
    url(../images/slider/3.jpeg) center/cover no-repeat fixed; 
}
.article-img{
    max-height: 40vh;
    object-fit: cover;
    object-position: center center;
}

.article-input{
    border-radius: 20px;
    object-fit: scale-down;
}