# Igonre file named 'database.php'

/vendor
mailer.php
.json
.lock
felix.txt
user/includes/phpspreadsheet/vendor
user/includes/vendor
user/includes/mailer.php
user\includes\phpspreadsheet\database.php

