body{
    background-color:  #f6dffa; /* THE RGB FROMAT   rgb(246, 223, 250) */
    max-height: 100vh;
    overflow-y: hidden;
    
}
.greenBgDark{background:#009500}
.greenBgMid{background: #33c722} 
.greenBgLight{background: #73fb59}
.mainbg{background-color:  #f6dffa;}

.pBG{
    background-color: #500d62!important;
}
.tGB{
    color: #f8f8f8;
   }
nav {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.72);
box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.72);
}
@media (min-width: 576px){
.navbar-expand-sm {
    
    flex-flow: row nowrap;
  
   justify-content: space-between}
}
.navbar-nav {
   flex-direction: row;
    
}
#sidebarCollapse :hover{
    cursor: pointer;
    background: #7f3d90;
}
/* This will hide the drop icon next to the bell */
#notification::after{
    display: none;
}

/* vertical Nav */


 a,a:hover,a:focus{
	color: inherit;
	text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
} 




.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
}
#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #500d62;
    color: #fff;
    transition: all 0.4s;
   
}
#sidebar.active{
	margin-left: -200px;
}
#sidebar li{
    border-bottom: 1px solid black;
    width: 99%;
}
#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
     color: black; 
    background: #f6dffa;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #7f3d90;
}
#sidebar a[data-toggle="collapse"] {
    position: relative;
}
#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
     transform: translateY(-50%); 
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #7f3d90;
}
.dontScroll{position: fixed;}




#content {
    width: 100%;
    
    min-height: 100vh;
    transition: all 0.3s;
}

@media(max-width:768px){
    #sidebar{margin-left: -200px;
        z-index: 900;
        position: fixed;
        height: 100%;
        background: rgba(80, 13, 98, 0.9)
    }
	#sidebar.active{
        margin-left: 0px;
        z-index: 900;
        position: fixed;
	}
	#sidebarCollapse span{
		display: none;
    }
    #sidebar ul ul a {
        
        background: rgba(201, 139, 216, 0.6);
    }
    #sidebar ul li a:hover {
        /* color: #7386D5; */
        background: #f6dffa;
    }
    
    #sidebar ul li.active>a,
    #sidebar a[aria-expanded="true"] {
       
        background: rgba(201, 139, 216, 0.6);
    }
}


























